* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jockey One', sans-serif;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: center;
   }

.logo{
width: 10rem;
text-transform: uppercase;
}

.navbar-collapse{
    display: flex;
    flex: content;
    justify-content: end;
    height: fit-content;
    align-content:baseline;
    gap: 7px;
}

.navbar-toggler{
    text-transform: uppercase;
}

button{
    padding: 0.1rem 0.2rem;
}

nav{
    background-color: #f1faee;
}

/* e63946
f1faee
a8dadc
457b9d
1d3557 */