@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 15rem;
  margin: 1rem;
}

.navbar-collapse {
  display: flex;
  flex: content;
  justify-content: end;
  margin-right: 2rem;
  gap: 1rem;
}

.navbar-toggler {
  text-transform: uppercase;
  font-size: large;
  padding: 0.2rem 0.4rem;
}

nav {
  background-color: #f1faee;
}

h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

.rule {
    
  display: flex;
  justify-content: center;
}

.checkbox-container {
    background-color: #a8dadc;
  display: flex;
  justify-content: space-around;
font-size: x-large;
}



/* e63946
f1faee
a8dadc
457b9d
1d3557 */
