* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
width: 10rem;
}

.navbar-collapse{
    display: flex;
    flex: content;
    justify-content: end;
    height: fit-content;
    align-content:baseline;
    gap: 7px;
}
button{
    padding: 0.2rem
}
nav{
    
}
